.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.borrar1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.container:hover .borrar1{
  opacity: 1;
}
