h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

p {
  margin: 20px 100px;
  text-align: justify;
  
}
.imghome {
  margin: 20px 100px;
  text-align: center;
}

details {
  margin: 20px 100px;
  text-align: justify;
}

.imghover{
  width: 500px;
  background-image: url('lerw 3d sarai 4a.svg');
}

.imghover:hover {
  width: 500px;
  background-image: url('lerw 3d sarai 4a.svg');
}

