h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

p {
  margin: 20px 100px;
  text-align: justify;
  
}
.imghome {
  margin: 20px 100px;
  text-align: center;
}

details {
  margin: 20px 100px;
  text-align: justify;
}

.imghover{
  width: 500px;
  position = 'relative';
}

.imghover img {
  width: 100%;
}

.lerwborrar1 {
  position: absolute;
  left: 0;
  top: 0;
}
